body{
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: black;
	height: 100vh;
}

.two-button{
	height: 100%;
	width: 50%;

	opacity: 1;

	color: white;
}

.two-button:hover{
	opacity: 1;
	cursor: pointer;
}

#new_chatbot{
	display: none;
}

#load_chatbot{
	width:100%;

	position: absolute;
	right: 0;
	top: 0;
	background-color: #2ecc71;
}

#load_chatbot > h1{
	transform: translate(-50%,-100%);
	font-size: 1.5em;
	display: block;
}

#chatbot_id{
	position: absolute;
	width: 75%;
	top:50%;
	left:50%;

	font-size: 3em;
	text-align: center;

	transform: translateX(-50%);
}

@media screen and (min-width: 768px) {

	.two-button{
		height: 100%;
		width: 50%;

		opacity: 0.5;

		color: white;
	}

	.two-button:hover{
		opacity: 1;
		cursor: pointer;
	}

	#new_chatbot{

		display: block;
		width: 50%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #1abc9c;
	}
	#new_chatbot > h1{
		transform: translate(-50%,-50%);
		font-size: 3em;
		display: block;
	}

	#load_chatbot{
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #2ecc71;
	}
	#load_chatbot > h1{
		transform: translate(-50%,-50%);
		font-size: 3em;
		display: block;
	}
	#load_chatbot:hover > #chatbot_id{
		transition: display 5s ease;
		display: block;
	}
	#load_chatbot:hover > h1{
		display: none;
		transition: font-size 0.15s ease, transform 0.3s ease;
		transform: translate(-50%,-100%);
		font-size: 1em;
		display: block;
	}

	#chatbot_id{
		position: absolute;
		width: 75%;
		top:50%;
		left:50%;

		font-size: 3em;
		text-align: center;

		transform: translateX(-50%);

		display: none;
	}

}
