body {
	font-family: Verdana, Geneva, sans-serif;
}

.vcenter{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}

.hide_overflow{
	overflow: hidden;
}


.title_text{
	font-size: 2.5em;
	text-align: center;
}
